{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join a Community of Small Businesses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    
    {% include 'partials/_header.html' %}
    
    <div id="index-content">
        <h1> Upload your menu, share your link, make money.</h1>
    </div>
    
    {% include 'partials/_login_portal.html' %}

    {% include 'partials/_footer.html' %}
</body>
</html>